{
  "games":[
    {"name": "Watch_Dogs", "code":"wdogs"},
    {"name": "Assassin's Creed IV", "code":"acreediv"},
    {"name": "Coding", "code":"coding"}
  ],

  "customConfig": {
    "textConfig": {
      "details": "Not doing much tbh",
      "state": "perhaps procrastinating, idk"
    },
    "imageConfig": {
      "smallKey": "default",
      "largeKey": "default",
      "smallText": "Powered by RCHpr",
      "largeText": "Powered by RCHpr",
      "showButton": true
    },
    "timeConfig": {
      "timeType": "none",
      "whatTime": "0s"
    },
    "serviceConfig": {
      "whichService": "none",
      "titlePrefix": "",
      "artistPrefix": "",
      "useUserInterface": true,
      "useTimestamps": true,
      "customClientID": "none",
      "IMDB": {
        "defaultID": "tt3659388"
      },
      "FooBar2000": {
        "txtLocation": ""
      },
      "YouTube": {
        "browser": "safari"
      },
      "lastFM": {
        "key": "",
        "secret": "",
        "username": ""
      }
    }
  },
  "clientID": "394208223441190922"
}
